# بيئة بايثون الافتراضية
venv/
.venv/

# قاعدة البيانات
db.sqlite3

# ملفات بايثون المؤقتة
*.pyc
__pycache__/

# ملفات البيئة
.env
.env.*

# ملفات الترجمة
*.mo
*.pot

# الوسائط والملفات الثابتة
media/
staticfiles/

# أدوات المحرر
.vscode/
.idea/
