
<div class="container-fluid bg-primary text-white mt-5 pt-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href=""><h1 class="text-secondary mb-3  notranslate"><span class="text-white">Quick</span>Laundry</h1></a>
            <p>We pick up your dirty laundry and bring it back to you clean, folded and sorted, all on the same day</p>
            
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white mb-4">Get In Touch</h4>
            
            <p><i class="fa fa-map-marker-alt mr-1"></i>1012 O'Connor Dr, East York, ON M4B 2T3</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+14376029293</p>
            <p><i class="fa fa-envelope mr-2"></i>quicklaundry2000@gmail.com</p>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white mb-4">Quick Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="{% url 'mainview' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-white mb-2" href="{% url 'hawitwork' %}"><i class="fa fa-angle-right mr-2"></i>How We Work</a>
                
                <a class="text-white" href="{% url 'manage_profile_or_order'  %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white mb-4">Order Now </h4>
            
                  
                        <a href="{% url 'manage_profile_or_order'  %}" class="btn btn-secondary py-md-3 px-md-5 mt-2">flat rate: 1.98/ Ib place order</a>
        
        </div>
    </div>
</div>


