{% extends 'base.html' %} {% load static %}{% block title %} Quick Laundry {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block body %}


<!-- Services Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Working Process</h6>
        <h1 class="display-4 text-center mb-5">How We Work</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 400px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 200px; height: 200px;">
                        <img class="img-fluid" src="{% static 'img/We bring back.svg' %}" alt="">
                    </div>
                    <h4 class="font-weight-bold m-0">Bag up
                        your dirty
                        laundry</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 400px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 200px; height: 200px;">
                        <img class="img-fluid" src="{% static 'img/scadul.svg' %}" alt="">
                    </div>
                    <h4 class="font-weight-bold m-0">Schedule a free
                        pick up
                       </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 400px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 200px; height: 200px;">
                        <img class="img-fluid" src="{% static 'img/packup.png' %}" alt="">
                    </div>
                    <h4 class="font-weight-bold m-0">We pick up
                        your dirty
                        clothes</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 400px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 200px; height: 200px;">
                        <img class="img-fluid" src="{% static 'img/wash.png' %}" alt="">
                    </div>
                    <h6 class="font-weight-bold m-0">We wash
                        and dry.
                        Fresh and clean</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 400px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 200px; height: 200px;">
                        <img class="img-fluid" src="{% static 'img/fold and sort.svg' %}" alt="">
                    </div>
                    <h6 class="font-weight-bold m-0">We fold and sort
                        for you</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 400px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 200px; height: 200px;">
                        <img class="img-fluid" src="{% static 'img/bring back.png' %}" alt="">
                    </div>
                    <h6 class="font-weight-bold m-0">We bring back your fresh
                        laundry right to your doorstep
                        on the same day</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->





<!-- Working Process Start -->
<div class="container-fluid pt-5">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">1</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Order Place</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">2</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2"> Pick Up</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">3</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Dry Cleaning</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">4</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2"> Delivery</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Working Process End -->





{% endblock body %}